* {
    font-family: "DM Serif Display", serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: #333;
    color: #fff;
    padding: 18px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.burger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    font-size: large;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.cover {
    background-image: url('./assets/heksa-cover.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 20px;
}

.cover h1 {
    margin: 0;
    font-size: 3em;
}

.cover p {
    color: #ccc;
    font-size: 1.5em;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.content {
    margin: 20px auto 0;
    width: 95%;
    max-width: 1200px;
}

.active {
    color: grey;
}

.container-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.card {
    width: calc(20% - 20px);
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

.container-graph {
    display: flex;
    height: auto;
    margin: 50px;
    margin-top: 0;
}

.graph-content {
    width: 65%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.sidebar {
    width: 35%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.burger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto; /* Letakkan burger menu di ujung kanan */
}

@media (max-width: 768px) {
    .container-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-right: 0;
    }

    .burger-menu {
        display: block;
        font-size: 30px;
        cursor: pointer;
        float: right;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .cover {
        padding: 200px 0;
    }

    .container-card {
        padding: 20px;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .container-graph {
        flex-direction: column;
    }

    .graph-content, .sidebar {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container-logo {
        justify-content: flex-end; /* Letakkan logo dan burger menu di ujung kanan */
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
    }
    nav ul.show {
        display: flex;
    }
    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .btn {
        padding: 8px 16px;
    }

    .cover {
        padding: 150px 0;
    }

    .container {
        width: 90%;
    }

    .container-card {
        padding: 10px;
    }

    .card {
        padding: 15px;
    }

    .container-graph {
        margin: 20px;
    }

    footer {
        padding: 15px 0;
    }
}

h1 {
    margin-bottom: 15px;
    font-style: italic;
    font-size: 30px;
}
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.photo {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0c0c0c;
}

.photo p {
    margin-top: 1px;
    font-size: 14px;
    color: #333;
}

